
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    background-image: url(3roCEP.webp);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-wrap: scroll;
  }
  button {
    margin: 5px;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    background-color: #f6d2c782;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    transform: translateY(-2.5px);
    font-size: 18px;
    transition: 0.2s ease 0.2s;
  }
  
  .header_area {
    background-color: black;
  }
  
  .logo {
    width: 60%;
    padding: 0.5rem;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #button-container button{
    background-color: #0d8bf0;
    box-shadow: 0 4px 4px #005eff57;

  }
  #button-container button:hover{
    font-size: 16.15px;
    transform: translateY(4px);
    transition: .2s ease .2s;

  }
  
  #sorting-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .sorting-algorithm {
    background-color: #ffaf975a;
    border: 0px solid #ccc;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #ff530057;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  
  .sorting-algorithm:hover {
    transform: translateY(-5px);
  }
  
  .sorting-algorithm h3 {
    margin: 0;
    font-size: 15px;
  }
  
  .sorting-algorithm p {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .canvas {
    width: 100%;
    height: 60vh;
  }
  
  #array-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
  
  .array-bar {
    display: inline-block;
    background-color: #0d8bf0;
    width: 18px;
    margin: 0 3px;
    transition: height 0.2s;
  }
  

  
  #button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  

  

  @media only screen and (width<1025px) {
    body{
        width: 100%;
        overflow:visible;
    }
    #sorting-container {
        margin-top: 1.25rem;
        gap: 10px;
      }
      
      
      .sorting-algorithm h3 {
        margin: 0;
        font-size: 12px;
      }
      
      .sorting-algorithm p {
        margin-top: 2px;
        font-size: 10px;
      }
      .canvas {
        width: 100%;
        height: 45vh;
    }

    .logo {
      width: 80%;
  }

  }
